.list-countries {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #94a3b8;
  margin: 12px;
}
.name {
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 24px;
  color: #f8fafc;
}
.btn {
  border: none;
  outline: none;
  width: 75px;
  padding-top: 7px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 7px;
  background-color: #3b82f6;
  color: #ffffff;
  font-weight: 'Roboto';
  margin-right: 20px;
  border-radius: 4px;
}
.para {
  color: #334155;
  font-weight: 500;
  font-size: 18px;
  margin-right: 20px;
}
